
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .profile_pic {
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 40;
    text-transform: capitalize;
}

